.marquee {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  line-height: 1.5;
  -ms-overflow-style: none; 
  background-color: $bg-color;
  border-top: 1px solid $dgray;
  border-bottom: 1px solid $dgray;

  ul {
    overflow: hidden;
    min-width: 100%;
    display: flex;
    flex: 0 0 auto;
    padding-left: 3rem;
    animation: marquee 40s linear infinite;

    &:nth-of-type(2) { animation-name: marquee2; }
  }
  
  &:hover ul {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

  li {
    color: $dgray;
    font-size: 7rem;
    font-weight: 500;
    margin: 0 1.5vw;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(-100%, 0, 0);opacity: 1; }
  50.01% { opacity: 0; }
  50.02% { transform: translate3d(100%, 0, 0);opacity: 0; }
  50.03% { opacity: 1; }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes marquee2 {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(-100%, 0, 0); }
  to { transform: translate3d(-200%, 0, 0); }
}

