.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  .logo {
    cursor: pointer;
    display: inline-block;
    color: $dgray;
    font-size: 2rem;
    -webkit-text-stroke: 1px $white;
    font-weight: 700;
    padding: 1rem;
  }
}
