$primary-color: #58b0ba;
$second-color: #253b39;
$black: #000 !default;
$dgray: #333;
$lgray: #a2a2a2;
$red: #fd4c4b;
$white: #fff;
$yellow: rgb(232, 241, 9);

$bg-color: #fcfaf8;
$line-color: #e0e0e0;
