@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Poppins", "Noto Serif KR", serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #000;
  letter-spacing: 0;
}

body {
  font-size: 1.6rem;
  word-break: break-word;
}

button,
[role=button] {
  cursor: pointer;
}

.marquee {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  line-height: 1.5;
  -ms-overflow-style: none;
  background-color: #fcfaf8;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.marquee ul {
  overflow: hidden;
  min-width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding-left: 3rem;
  animation: marquee 40s linear infinite;
}
.marquee ul:nth-of-type(2) {
  animation-name: marquee2;
}
.marquee:hover ul {
  animation-play-state: paused;
}
.marquee li {
  color: #333;
  font-size: 7rem;
  font-weight: 500;
  margin: 0 1.5vw;
  opacity: 1;
}
.marquee li:hover {
  opacity: 1;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  50.02% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  50.03% {
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes marquee2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(-200%, 0, 0);
  }
}
.ust-up-heading {
  display: flex;
  align-items: center;
  height: 15vw;
}
.ust-up-heading .inner {
  overflow: hidden;
}
.ust-up-heading span {
  display: inline-block;
  color: #333;
  font-size: 10vw;
  font-weight: 700;
  line-height: 1;
  transform: translate3d(0, 100%, 0) rotate(45deg);
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}
.modal::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal .modal__dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal__layer {
  position: relative;
  overflow: auto;
  display: inline-block;
  min-width: 300px;
  max-height: 100vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}
.modal .modal__header {
  display: flex;
  align-items: center;
}
.modal .modal__header .modal-heading {
  color: #000;
  font-size: 2rem;
}
.modal .modal__header .modal-btn-close {
  margin-left: auto;
  width: 36px;
  height: 36px;
  background-color: yellow;
}
.modal .modal__content {
  padding: 30px;
}

.loading {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.loading-spinner {
  position: relative;
  color: #333;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-spinner span {
  display: block;
  transform-origin: 40px 40px;
  animation: loading-spinner 1.2s linear infinite;
}
.loading-spinner span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #333;
}
.loading-spinner span:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading-spinner span:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading-spinner span:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading-spinner span:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading-spinner span:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading-spinner span:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading-spinner span:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading-spinner span:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading-spinner span:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading-spinner span:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading-spinner span:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading-spinner span:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-text {
  display: inline-block;
  position: relative;
  color: #fd4c4b;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  box-sizing: border-box;
}
.loading-text::after {
  content: "Loading";
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: loading-text 1s linear infinite;
}

@keyframes loading-text {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.footer {
  height: 10rem;
  line-height: 10rem;
  color: #333;
  font-size: 1.4rem;
  text-align: center;
}

.l-page-home {
  overflow-x: hidden;
}

.section {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

.section__intro {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.section__intro .intro-bg {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.section__intro .intro-bg span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1667372393138-3a5dc3ba517d") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.section__intro .intro-heading {
  z-index: 10;
  transition: transform 0.1s ease;
  margin-top: 20%;
}
.section__intro .intro-heading .inner {
  overflow: hidden;
}
.section__intro .intro-heading span {
  position: relative;
  display: block;
  color: #fcfaf8;
  font-size: 0.4vw;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  transform: translate3d(0, 100%, 0);
}
.section__intro .intro-heading span.heading2 {
  font-family: "Playfair Display", serif;
  font-size: 1.2vw;
  font-weight: 400;
}

.career__list {
  width: 90%;
  margin: 0 auto;
}

.career__item {
  display: flex;
  border-top: 1px solid #333;
  padding: 5rem 0;
}
.career__item .career__heading {
  width: 50%;
  font-size: 5rem;
  font-weight: 700;
  color: #fcfaf8;
  -webkit-text-stroke: 1px #333;
}
.career__item .career__info {
  color: #333;
  font-size: 3rem;
  line-height: 1.5;
}

.section__horizontal {
  overflow-y: visible; /* overflow: hidden 때문에 sticky 작동 안 됨 */
  background-color: #333;
}
.section__horizontal .section__sticky {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.section__horizontal .section__sticky.is-fixed {
  position: fixed;
  width: 100%;
}
.section__horizontal .slider__wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 0 30vw;
}
.section__horizontal .slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  transition: transform 0.1s linear;
  padding: 0 50px;
}
.section__horizontal .slider.is-fixed {
  position: fixed;
}
.section__horizontal .slide {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 25vw;
  padding-top: 15vw;
  border-radius: 0;
  vertical-align: middle;
  margin: 3rem;
}
.section__horizontal .slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  min-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
}
.section__horizontal .slide .hoverbox {
  opacity: 0;
  transition: all 0.3s ease;
}
.section__horizontal .slide:hover .hoverbox {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.section__horizontal .slide .hover {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0.1);
  transition: all 0.8s;
  background-color: #fff;
  mix-blend-mode: color;
}

.section__work {
  background-color: #fcfaf8;
  padding: 0 0 10rem;
}
.section__work .work__list {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 2rem;
}
.section__work .work__item {
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}
.section__work .work__item .image {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 60%;
  border-radius: 0;
  vertical-align: middle;
}
.section__work .work__item .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  min-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
}
.section__work .work__item .heading {
  display: block;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 2rem;
}
.section__work .work__item span {
  display: block;
  color: #333;
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 0 2rem;
}

.section__text {
  overflow: hidden;
  background: linear-gradient(180deg, rgb(252, 250, 251) 0%, rgb(255, 255, 255) 10%);
  padding: 20rem 0;
}
.section__text .is-animated-text {
  font-family: "Playfair Display", serif;
  height: 20vh;
  font-size: 14vh;
  font-weight: 700;
  line-height: 20vh;
  transition: all 0.5s ease-out;
}
.section__text .is-animated-text:nth-child(even) {
  color: transparent;
  -webkit-text-stroke: 2px #333;
  text-align: right;
}
.section__text .is-animated-text:nth-child(odd) {
  color: #58B0BA;
  text-align: left;
}
.section__text .is-animated-text p {
  white-space: nowrap;
}

.section__inner.is-sticky {
  overflow: hidden;
  z-index: -1;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1633356122544-f134324a6cee") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.section__inner.is-sticky::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.section__inner.is-sticky span {
  position: absolute;
  font-size: 16vw;
  color: transparent;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.3;
}
.section__inner.is-sticky p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  color: #fcfaf8;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  padding: 5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10rem;
}
.section__inner.bg-color {
  min-height: 100vh;
  background-color: #fcfaf8;
}/*# sourceMappingURL=main.css.map */