body { overflow-x: hidden; }

.section {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
}

.section__intro {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.intro-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background: url("https://images.unsplash.com/photo-1633356122544-f134324a6cee?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600") no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		margin: 0 auto;
	}

	.intro-heading {
		transition: transform .1s ease;
		perspective: 100px;
		margin-top: 15%;
	
		.inner {overflow: hidden;}

		span {
			z-index: 10;
			position: relative;
			display: block;
			color: $bg-color;
			font-size: .4vw;
			font-weight: 700;
			text-align: left;
			line-height: 1.2;
			text-shadow: 0.05rem 0.05rem 0.05rem rgba(0,0,0,.1);
			transform: translate3d(0, 100%, 0);
			
			&.heading2 {
				font-family: 'Playfair Display', serif;
				font-size: 1.2vw;
				font-weight: 400;
			}
		}
	}
}


.section__desc {
	font-family: 'Playfair Display', serif;
	height: 16.6vh;
	font-size: 14vh;
	font-weight: 700;
	line-height: 20vh;
	transition: all .5s ease-out;

	&:nth-child(even) { 
		color: $dgray;
		text-align: right;
	}
	
	&:nth-child(odd) { 
		color: $primary-color;
		text-align: left;
	}
	
	p { white-space: nowrap; }
}

.section__work {
	background-color: $bg-color;

	.work__list {
		width: 80%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-auto-flow: row dense;
		grid-gap: 1rem;
	}

	.work__item {
		border-radius: 1rem;
		overflow: hidden;
		background-color: #fff;
		
		.image {
			@include photo(100%, 60%, 0);
		}

		.heading {
			display: block;
			color: $second-color;
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			padding: 2rem;
			border-bottom: 1px solid $line-color;
		}

		.time, .skill {
			display: block;
			color: $second-color;
			font-size: 16px;
			line-height: 1.5;
			padding: 1.5rem 2rem;
			border-bottom: 1px solid $line-color;
		}
	}
}

.section__horizontal { 
	overflow: visible; /* overflow: hidden 때문에 sticky 작동 안 됨 */

	.section__sticky {
		position: sticky;
		top: 0;
		left: 0;
		height: 100vh;
	}

	.section__sticky.is-fixed {
		position: fixed;
		width: 100%;
	}

	.slider__wrap {
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100vh;
		padding: 0 30vw;
	}

	.slider {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		height: 100vh;
		transition: transform .3s ease-out;
		padding: 0 50px
	}

	.slide {
		@include photo(30vw, 20vw, 0);
		margin: 50px;

		// img { width: 100%; }
		.hoverbox {
			opacity: 0;
			transition: all .3s ease;
		}

		&:hover .hoverbox {
			opacity: 1;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.hover {
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			transform: scale(.1);
			transition: all .8s;
			background-color: rgba(255,255,255,0.8);
			mix-blend-mode: difference;
		}
	}
}

.career__list {
	width: 80%;
	margin: 0 auto;
}

.career__item {
	display: flex;
	border-top: 1px solid $dgray;
	padding: 5rem 0;

	.career__heading {
		width: 50%;
		font-size: 5rem;
		font-weight: 700;
		color: $bg-color;
		-webkit-text-stroke: 1px $dgray;
	}

	.career__info {
		color: $dgray;
		font-size: 3rem;
		line-height: 1.5;
	}
}