$home-padding: 0 4rem;
$home-t-padding: 0 2rem;
$home-m-padding: 0 1rem;

.l-page-home {
  overflow-x: hidden;
}

.section {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  .section__inner {
    padding: $home-m-padding;
    @include breakpoint(tablet) {
      padding: $home-t-padding;
    }
    @include breakpoint(desktop) {
      padding: $home-padding;
    }
  }
}

.section-intro {
  overflow: hidden;
  background-color: $dgray;
  .section__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: auto;
    // background: url('https://ngsehj.github.io/portfolio/img/bg-intro.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
    padding: 0;
  }
  .btn-circle-rotate {
    z-index: 1;
    position: absolute;
    right: 10%;
    top: 10%;
  }
  .intro__heading {
    z-index: 10;
    transition: transform 0.1s ease;
    padding: 0 1rem;
    margin: 20% 0;
    .inner {
      overflow: hidden;
    }
    [class^='heading'] {
      position: relative;
      display: block;
      color: $lgray;
      font-size: 0.75rem;
      font-weight: 400;
      text-align: left;
      line-height: 1.5;
      transform: translate3d(0, 120%, 0);
      &.heading2,
      &.heading3 {
        color: transparent;
        font-size: 18vw;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.2rem;
        text-transform: uppercase;
        -webkit-text-stroke: 0.0625rem $white;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient($white, $white);
        background-size: 100% 0;
        background-position: top;
        background-repeat: no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        animation: textFill 2s ease 0.5s both;
        &.heading3 {
          animation-delay: 1s;
        }
        @keyframes textFill {
          from {
            background-size: 100% 0;
          }
          to {
            background-size: 100% 100%;
          }
        }
      }
    }
  }
  @include breakpoint(tablet) {
    .intro__heading {
      padding: 0 64px;
      [class^='heading'] {
        font-size: 1rem;
        &.heading2,
        &.heading3 {
          font-size: 12vw;
        }
      }
    }
  }
  @include breakpoint(desktop) {
    .section__inner {
      background-attachment: fixed;
    }
  }
}

.section-career {
  overflow: hidden;
  padding-bottom: 5rem;
  .marquee {
    background-color: $bg-color;
    border-top: 1px solid $dgray;
    border-bottom: 1px solid $dgray;
    &:hover ul {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }
  .career {
    color: $dgray;
    font-size: 1.25rem;
    text-align: right;
    padding: $home-m-padding;
    margin: 1rem 0;
  }
  .career__item {
    border-top: 0.0625rem solid $dgray;
    padding: 40px 0;
    .career__heading {
      font-size: 2rem;
      font-weight: 700;
      color: $bg-color;
      -webkit-text-stroke: 0.0625rem $dgray;
      margin-bottom: 16px;
    }
    .career__info {
      color: $dgray;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  @include breakpoint(tablet) {
    .career {
      font-size: 1.5rem;
    }
  }
  @include breakpoint(desktop) {
    .career__item {
      display: flex;
      padding: 80px 0;
      .career__heading {
        width: 50%;
        font-size: 3.5rem;
        padding-right: 2%;
        box-sizing: border-box;
      }
      .career__info {
        width: 50%;
        font-size: 2rem;
      }
    }
  }
}

.section-inflearn {
  margin-top: 5rem;
  .section__inner {
    min-height: 100vh;
    max-width: 100vw;
    background-color: $dgray;
    padding: 0 0 4rem;
    margin: 0 auto;
    transition: all 0.1s linear;
  }
  .inflearn__bg {
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    span {
      color: transparent;
      font-size: 3rem;
      -webkit-text-stroke: 1px $bg-color;
      &:nth-child(odd) {
        color: $bg-color;
      }
    }
    ul + ul {
      span {
        color: $bg-color;

        &:nth-child(odd) {
          color: transparent;
        }
      }
    }
  }
  .inflearn__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inflearn__item {
    @include photo(250px, 250px, 0);
    display: block;
    margin: 0 1rem 3rem;
    .hoverbox {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: $white;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.4;
      text-align: center;
      word-break: keep-all;
      transition: all 0.3s ease;
      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        transition: opacity 0.4s ease;
        opacity: 1;
      }
      strong {
        font-size: 1.25rem;
        line-height: 1.5;
        padding: 2rem;
      }
    }
  }
  @include breakpoint(laptop) {
    .inflearn__bg {
      span {
        font-size: 5rem;
      }
    }
    .inflearn__list {
      align-items: baseline;
    }
    .inflearn__item {
      width: 300px;
      padding-top: 300px;
      &:not(:last-child) {
        margin: 0 2rem -5rem;
      }
      &:nth-child(odd) {
        align-self: flex-start;
      }
      &:nth-child(even) {
        align-self: flex-end;
      }
      &:nth-child(4n - 1) {
        margin-left: 5rem;
      }
      &:nth-child(4n) {
        margin-right: 5rem;
      }
      .hoverbox {
        opacity: 0;
        align-items: center;
        font-size: 1.5rem;
        &::after {
          display: none;
        }
      }
      &:hover .hoverbox {
        opacity: 1;
      }
      .hover {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 50%;
        transform: scale(0.1);
        transition: all 0.8s;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  @include breakpoint(desktop) {
    .inflearn__item {
      &:not(:last-child) {
        margin: 0 5rem -2rem;
      }
      &:nth-child(4n - 1) {
        margin-left: 15vw;
      }
      &:nth-child(4n) {
        margin-right: 15vw;
      }
    }
  }
}

.section-work {
  background-color: $bg-color;
  padding: 0 0 80px;
}

.section-text {
  overflow: hidden;
  z-index: -1;
  position: relative;
  min-width: 100vh;
  max-width: 100vh;
  min-height: 100vw;
  transform: rotate(90deg);
  transform-origin: 50vw 50%;
  .is-animated {
    height: 25vw;
    transition: all 0.5s ease-out;
    &:nth-child(odd) {
      color: $primary-color;
      text-align: left;
      margin-left: -30%;
    }
    &:nth-child(even) {
      color: transparent;
      -webkit-text-stroke: 0.0625rem $dgray;
      text-align: right;
      margin-right: -30%;
    }
    .text {
      font-size: 10vh;
      font-weight: 700;
      line-height: 25vw;
      white-space: nowrap;
      opacity: 0.2;
    }
  }
  @include breakpoint(tablet) {
    background: linear-gradient(180deg, rgb(252, 250, 251) 0%, rgb(255, 255, 255) 10%);
    min-width: 100vw;
    max-width: 100vw;
    transform: rotate(0deg);
    min-height: calc(5rem * 6);
    .is-animated {
      height: 25vh;
      .text {
        font-size: 15vh;
        line-height: 25vh;
        opacity: 1;
      }
    }
  }
}

.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 5rem); // footer 높이 제외
  margin-top: -100vw;
  .ust-up-heading span {
    font-size: 3rem;
    transform: translate3d(0, 100%, 0);
  }
  @include breakpoint(tablet) {
    min-height: 100vh;
    margin-top: 0;
    .ust-up-heading span {
      font-size: 10vw;
    }
  }
  .link-email {
    overflow: hidden;
    position: relative;
    display: block;
    color: $dgray;
    font-size: 7vw;
    line-height: 10vw;
    padding: 0 2rem;
    .email {
      display: block;
      transform: translate3d(0, 10vw, 0);
    }
    svg {
      z-index: -1;
      position: absolute;
      top: -10%;
      left: -10%;
      right: -10%;
      bottom: -10%;
      width: 100%;
      height: 100%;
      fill: none;
      stroke-width: 54px;
      stroke-dasharray: 394;
      stroke-dashoffset: 394;
      transition: stroke-dashoffset 0.5s ease-in-out;
      will-change: stroke-dashoffset;
      pointer-events: none;
      margin: auto;
      padding: 0;
      &:first-of-type {
        width: 96%;
        height: 104%;
        transform: skewX(-17deg);
      }
      &:last-of-type {
        width: 94%;
        transform: skewX(-12deg);
      }
    }
    &:hover > svg {
      stroke-dashoffset: 0;
    }
  }
  .arrow {
    display: block;
    transform: rotate(20deg) scale(0.5);
    margin: -6rem 0 -5rem;
    @include breakpoint(tablet) {
      transform: rotate(25deg) scale(1);
      margin: 0;
    }
    path {
      stroke: $primary-color;
      stroke-linecap: round;
      stroke-width: 10px;
    }
  }
  .arrow-path1 {
    stroke-dashoffset: 627;
    stroke-dasharray: 627;
  }
  .arrow-path2 {
    stroke-dashoffset: 190;
    stroke-dasharray: 190;
  }
  &.is-active {
    .arrow-path1 {
      animation: arrowPath1 0.5s linear 0.5s 1 forwards;
    }
    .arrow-path2 {
      animation: arrowPath2 0.2s linear 1s 1 both;
    }
  }
  @keyframes arrowPath1 {
    from {
      stroke-dashoffset: 627;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes arrowPath2 {
    from {
      stroke-dashoffset: 190;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}
