.l-page-sub {
  .container {
    overflow-x: hidden;
    max-width: 100vw;
  }
}

.gsap-section {
  &:not(.gsap-section-intro) {
    background-color: $bg-color;
  }
  &:not(.gsap-section-slider) {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .gsap-heading {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    &:not(:first-of-type) {
      margin-top: 5rem;
    }
  }
  .gsap-heading-sub {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    word-break: keep-all;
    margin-bottom: 1rem;
  }
  .gsap-text {
    font-size: 1rem;
    line-height: 1.5;
    word-break: keep-all;
    margin: 0 0 1.5rem;
    a {
      color: $primary-color;
      font-size: inherit;
      text-decoration: underline;
      margin-left: 0.25rem;
    }
  }
  .gsap-text__list {
    margin-bottom: 1.5rem;
    li {
      font-size: 1rem;
      line-height: 1.5;
      word-break: keep-all;
      text-indent: -1rem;
      padding-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }
  img {
    width: auto;
    max-width: 100%;
  }
  .is-show {
    opacity: 0;
  }
  @include breakpoint(tablet) {
    .gsap-heading {
      font-size: 5rem;
      margin-bottom: 3rem;
      &:not(:first-of-type) {
        margin-top: 10rem;
      }
    }
    .gsap-heading-sub {
      font-size: 2rem;
    }
    .gsap-text {
      font-size: 1.25rem;
    }
    .gsap-text__list {
      li {
        font-size: 1.25rem;
        text-indent: -1.25rem;
        padding-left: 1.25rem;
      }
    }
  }
}

.gsap-section-intro {
  background-color: $dgray;
  color: $white;
  .intro__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .type {
    opacity: 0;
    z-index: 1;
    position: relative;
    color: $white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .heading {
    opacity: 0;
    z-index: 1;
    position: relative;
    color: $white;
    font-size: 4rem;
  }
  .image {
    @include thumbnail(100%, 100vh, 0);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  .intro__inner {
    opacity: 0;
    padding: $home-m-padding;
  }
  dt,
  dd {
    display: block;
    text-align: left;
    line-height: 1.5;
    word-break: keep-all;
  }
  dt {
    color: $lgray;
    font-size: 0.75rem;
    padding: 0 0 0.5rem;
  }
  dd {
    font-size: 1rem;
    padding: 0 0 1rem;
  }
  @include breakpoint(tablet) {
    .type {
      font-size: 6vw;
    }
    .heading {
      font-size: 12vw;
    }
    .intro__inner {
      width: 70%;
      margin: 0 auto;
    }
    dt,
    dd {
      display: inline-block;
      font-size: 1.25rem;
      padding: 0 0 2rem;
      vertical-align: middle;
    }
    dt {
      width: 20%;
    }
    dd {
      width: 80%;
      padding-left: 2rem;
      box-sizing: border-box;
    }
  }
}

.gsap-section-heading {
  display: flex;
  align-items: center;
  padding: 0 5%;
  .heading {
    font-size: 20vw;
  }
  @include breakpoint(tablet) {
    padding: 0 15%;
    .heading {
      font-size: 12vw;
    }
  }
}

.gsap-section-setting {
  padding: $home-m-padding;
  padding-top: 3rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
  .image {
    @include thumbnail(100%, 10rem, 0);
    background-color: $dgray;
    margin-bottom: 5rem;
    img {
      object-fit: contain;
    }
  }
  @include breakpoint(tablet) {
    padding: $home-padding;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .image {
      padding-top: 30rem;
    }
  }
  @include breakpoint(desktop) {
    width: 1200px;
    margin: 0 auto;
    padding: 5rem;
  }
}

.setting__list {
  border-top: 1px solid $dgray;
  li {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid $line-color;
  }
  .box {
    background-color: $line-color;
    font-size: 0.875rem;
    padding: 0.75rem;
    border: 1px solid $lgray;
    border-radius: 0.5rem;
    margin: 0.5rem 0 0;
  }
  @include breakpoint(tablet) {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.25rem;
      padding: 1.25rem;
    }
    .box {
      max-width: 50%;
      margin: 0 0 0 1rem;
    }
  }
}

.folder {
  border-left: 1px solid $dgray;
  .heading-folder {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 1px;
      background-color: $dgray;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
  .folder__list {
    position: relative;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: -0.7rem;
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: $dgray;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    li {
      position: relative;
      font-size: 1rem;
      line-height: 1.5;
      padding-left: 1.5rem;
      text-indent: -1.5rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 1px;
        background-color: $dgray;
        border-radius: 50%;
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }
  }
  @include breakpoint(tablet) {
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    .heading-folder {
      font-size: 2rem;
      margin-bottom: 2rem;
      &::before {
        width: 2rem;
      }
    }
    .folder__list {
      margin-left: 3.5rem;
      margin-bottom: 2rem;
      &::after {
        top: -1.2rem;
      }
      li {
        font-size: 1.25rem;
        line-height: 2;
        padding-left: 3rem;
        text-indent: -3rem;
        &::before {
          width: 2rem;
        }
      }
    }
  }
}

.gsap-section-slider {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  .heading {
    font-size: 15vw;
    align-self: center;
  }
  .heading-sub {
    display: block;
    font-size: 5vw;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: $home-m-padding;
    box-sizing: border-box;
  }
  .video {
    .video__inner {
      @include thumbnail(100%, 56.25%, 0);
    }
  }
  @include breakpoint(tablet) {
    .panel {
      padding: $home-padding;
    }
  }
  @include breakpoint(laptop) {
    .panel {
      padding: 0 10vw;
    }
    .video {
      width: 800px;
    }
  }
}

.gsap-section-last {
  background: linear-gradient(180deg, #fcfafb 0%, white 30%);
  padding: 10rem 5rem;
  text-align: center;
  .btn-back {
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    color: $primary-color;
    font-size: 1.5rem;
    border: 1px solid $primary-color;
    border-radius: 4rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}
